* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#regole {
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
}

.giocodati {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin: 70px 0 70px 0;
}

p[id*="punteggio-dado"] {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

.dado1, .dado2 {
    padding: 0 20px;
}

.vincitore-dado {
    text-align: center;
    font-size: 36px;

}
